@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

.spin {
  animation: spin 800ms linear infinite; /* Adjust duration, timing-function, and iteration count as needed */
}
@keyframes spin {
  0% {
     transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg);
  }
}