.image-gallery-slide .image-gallery-image {
   width: 100%;
   object-fit: contain;
   height: 503px !important;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
   /* vertical-align: middle; */
   /* width: 100%; */
   /* line-height: 0; */
   width: 70px !important;
   height: 70px !important;
   object-fit: contain !important;
   cursor: pointer !important;
   margin: auto;
   padding: 4px;
}
.image-gallery-content.fullscreen{
   background-color: white;
}