@tailwind base;
@tailwind components;
@tailwind utilities;

.spin {
    animation: spin 800ms linear infinite; /* Adjust duration, timing-function, and iteration count as needed */
 }
 @keyframes spin {
    0% {
       transform: rotate(0deg);
    }
    100% {
       transform: rotate(360deg);
    }
 }
 [data-badge]{
   position: relative;
 }
 [data-badge]::before{
   content: attr(data-badge);
   position: absolute;
   top: -5px;
   right: -5px;
   background: green;
   height: 21px;
   width: 21px;
   display: flex;
   color: white;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 13px;
 }

 .message-container{
   height: calc(100vh - 137.8px);
 }

 @media screen and (max-width:767px) {
   .message-container{
      height: 100vh;
    }
 }

 @layer base {
  :root {
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}